[submodule "external/mpp"]
	path = external/mpp
	url = https://github.com/rockchip-linux/mpp.git
[submodule "external/libva-v4l2-request"]
	path = external/libva-v4l2-request
	url = https://github.com/bootlin/libva-v4l2-request.git
[submodule "external/ffmpeg"]
	path = external/ffmpeg
	url = https://git.ffmpeg.org/ffmpeg.git
	branch = n7.1
