[submodule "external/mpp"]
	path = external/mpp
	url = https://github.com/rockchip-linux/mpp.git
[submodule "external/ffmpeg-type-c"]
	path = external/ffmpeg-type-c
	url = https://github.com/beebono/ffmpeg-type-c.git
	branch = custom
[submodule "external/libtwig"]
	path = external/libtwig
	url = https://github.com/beebono/libtwig.git
